In [1]:
import pandas as pd
import dateutil.parser as parser
from datetime import datetime

In [5]:
excel_file = pd.ExcelFile('A11B8A30.xlsx')
print(excel_file.sheet_names)

['Raw', 'estimations MM (1)', 'estimations MM (2)', 'ARs market model', 'estimations Mean Ad (1)', 'estimations Mean Ad (2)', 'ARs mean adjusted', 'estimations Market ad (1)', 'estimations Market ad  (2)', 'ARs market  adjusted']

In [6]:
raw_sheet_data = pd.read_excel(excel_file,'Raw')
estimation_data1 = pd.read_excel(excel_file,'estimations MM (1)')
estimation_data2 = pd.read_excel(excel_file,'estimations MM (2)')

In [8]:
print(raw_sheet_data)

    Unnamed: 0  Sensex 31 infotech  G4 software  Unnamed: 4 Unnamed: 5  \
0          NaT     NaN    06.09.06          NaN         NaN        NaN
1          NaT     NaN          c1          NaN         NaN        NaN
2          NaT     NaN         NaN          NaN         NaN        NaN
3   2005-04-01    1.73         NaN          NaN         NaN        NaN
4   2005-04-04   -0.01         NaN          NaN         NaN  Event day
..         ...     ...         ...          ...         ...        ...
972 2009-02-20   -2.21         NaN          NaN         NaN        NaN
973 2009-02-24   -0.24         NaN          NaN         NaN        NaN
974 2009-02-25    0.91         NaN          NaN         NaN        NaN
975 2009-02-26    0.59         NaN          NaN         NaN        NaN
976 2009-02-27   -0.71         NaN          NaN         NaN        NaN

    Unnamed: 6 Unnamed: 7
0          NaN        NaN
1          NaN        NaN
2          NaN        NaN
3          NaN        NaN
4     06.09.06        NaN
..         ...        ...
972        NaN        NaN
973        NaN        NaN
974        NaN        NaN
975        NaN        NaN
976        NaN        NaN

[977 rows x 8 columns]

In [11]:
event_date = raw_sheet_data['31 infotech'][0]
e = event_date.split('.')
event_date = e[1]+'.'+e[0]+'.'+e[2]
event_date = parser.parse(event_date)

In [12]:
print(event_date)

2006-09-06 00:00:00

In [46]:
func = lambda x: datetime.datetime(parser.parse(x)) if isinstance(x,str) else x

In [47]:
raw_sheet_data['Date'] = raw_sheet_data['Unnamed: 0'].apply(func)
print(raw_sheet_data['Unnamed: 0'])

0            NaT
1            NaT
2            NaT
3     2005-04-01
4     2005-04-04
         ...
972   2009-02-20
973   2009-02-24
974   2009-02-25
975   2009-02-26
976   2009-02-27
Name: Unnamed: 0, Length: 977, dtype: datetime64[ns]

In [50]:
raw_sheet_data['Date']

0            NaT
1            NaT
2            NaT
3     2005-04-01
4     2005-04-04
         ...
972   2009-02-20
973   2009-02-24
974   2009-02-25
975   2009-02-26
976   2009-02-27
Name: Date, Length: 977, dtype: datetime64[ns]

In [76]:
event_location = int(raw_sheet_data.loc[raw_sheet_data['Date']==pd.to_datetime(event_date)].index[0])

In [86]:
raw_sheet_data.loc[event_location]

Unnamed: 0     2006-09-06 00:00:00
Sensex                        0.24
31 infotech                   1.16
G4 software                    0.0
Unnamed: 4                     0.0
Unnamed: 5                     NaN
Unnamed: 6                     NaN
Unnamed: 7                     NaN
Date           2006-09-06 00:00:00
Name: 363, dtype: object

In [96]:
event_window_df = pd.DataFrame()
for i in range(event_location-20,event_location+21):
    event_window_df=event_window_df.append(raw_sheet_data.loc[i],['Date','31 infotech'])

In [97]:
estimation_period_df = pd.DataFrame()
for i in range(event_location-120,event_location-20):
    estimation_period_df = estimation_period_df.append(raw_sheet_data.loc[i],['Date','31 infotech'])
print(len(estimation_period_df))

100

In [115]:
event_window_df

,Unnamed: 0,Sensex,31 infotech,Date,bse_diff,company_diff,diff_squared,diff_product,expected_return,abnormal_return
0,2006-08-08,1.87,0.03,2006-08-08,1.532683,-0.373415,2.349117,-0.572326,1.840834,-1.810834
1,2006-08-09,1.18,2.60,2006-08-09,0.842683,2.196585,0.710115,1.851025,1.193721,1.406279
2,2006-08-10,0.04,2.23,2006-08-10,-0.297317,1.826585,0.088397,-0.543075,0.124577,2.105423
3,2006-08-11,0.39,0.78,2006-08-11,0.052683,0.376585,0.002775,0.019840,0.452823,0.327177
4,2006-08-14,1.08,6.09,2006-08-14,0.742683,5.686585,0.551578,4.223330,1.099936,4.990064
5,2006-08-16,1.20,1.68,2006-08-16,0.862683,1.276585,0.744222,1.101288,1.212478,0.467522
6,2006-08-17,0.25,0.87,2006-08-17,-0.087317,0.466585,0.007624,-0.040741,0.321525,0.548475
7,2006-08-18,-0.10,0.62,2006-08-18,-0.437317,0.216585,0.191246,-0.094716,-0.006721,0.626721
8,2006-08-21,0.40,-1.45,2006-08-21,0.062683,-1.853415,0.003929,-0.116177,0.462202,-1.912202
9,2006-08-22,-0.08,0.99,2006-08-22,-0.417317,0.586585,0.174154,-0.244792,0.012036,0.977964
10,2006-08-23,-0.83,0.48,2006-08-23,-1.167317,0.076585,1.362629,-0.089399,-0.691348,1.171348
11,2006-08-24,1.10,-0.50,2006-08-24,0.762683,-0.903415,0.581685,-0.689019,1.118693,-1.618693
12,2006-08-25,0.35,1.28,2006-08-25,0.012683,0.876585,0.000161,0.011118,0.415309,0.864691
13,2006-08-28,0.41,-0.53,2006-08-28,0.072683,-0.933415,0.005283,-0.067843,0.471580,-1.001580
14,2006-08-29,0.75,-1.24,2006-08-29,0.412683,-1.643415,0.170307,-0.678209,0.790447,-2.030447
15,2006-08-30,0.15,-0.60,2006-08-30,-0.187317,-1.003415,0.035088,0.187957,0.227740,-0.827740
16,2006-08-31,-0.21,-1.38,2006-08-31,-0.547317,-1.783415,0.299556,0.976093,-0.109884,-1.270116
17,2006-09-01,0.68,-0.49,2006-09-01,0.342683,-0.893415,0.117432,-0.306158,0.724798,-1.214798
18,2006-09-04,1.16,1.07,2006-09-04,0.822683,0.666585,0.676807,0.548388,1.174964,-0.104964
19,2006-09-05,-0.08,4.67,2006-09-05,-0.417317,4.266585,0.174154,-1.780519,0.012036,4.657964
20,2006-09-06,0.24,1.16,2006-09-06,-0.097317,0.756585,0.009471,-0.073629,0.312146,0.847854
21,2006-09-07,-0.67,-2.23,2006-09-07,-1.007317,-2.633415,1.014688,2.652684,-0.541293,-1.688707
22,2006-09-08,0.55,-0.20,2006-09-08,0.212683,-0.603415,0.045234,-0.128336,0.602878,-0.802878
23,2006-09-11,-3.09,-5.01,2006-09-11,-3.427317,-5.413415,11.746502,18.553488,-2.810878,-2.199122
24,2006-09-12,0.95,1.70,2006-09-12,0.612683,1.296585,0.375380,0.794396,0.978016,0.721984
25,2006-09-13,2.00,2.13,2006-09-13,1.662683,1.726585,2.764515,2.870764,1.962754,0.167246
26,2006-09-14,0.67,-1.22,2006-09-14,0.332683,-1.623415,0.110678,-0.540082,0.715420,-1.935420
27,2006-09-15,0.31,-1.05,2006-09-15,-0.027317,-1.453415,0.000746,0.039703,0.377795,-1.427795
28,2006-09-18,0.51,0.49,2006-09-18,0.172683,0.086585,0.029819,0.014952,0.565364,-0.075364
29,2006-09-19,-0.84,-0.12,2006-09-19,-1.177317,-0.523415,1.386075,0.616225,-0.700726,0.580726
30,2006-09-20,1.16,-0.39,2006-09-20,0.822683,-0.793415,0.676807,-0.652729,1.174964,-1.564964
31,2006-09-21,1.36,4.93,2006-09-21,1.022683,4.526585,1.045880,4.629262,1.362533,3.567467
32,2006-09-22,-0.31,-1.80,2006-09-22,-0.647317,-2.203415,0.419019,1.426308,-0.203669,-1.596331
33,2006-09-25,-0.51,-1.54,2006-09-25,-0.847317,-1.943415,0.717946,1.646688,-0.391238,-1.148762
34,2006-09-26,1.21,0.00,2006-09-26,0.872683,-0.403415,0.761575,-0.352053,1.221856,-1.221856
35,2006-09-27,0.37,0.00,2006-09-27,0.032683,-0.403415,0.001068,-0.013185,0.434066,-0.434066
36,2006-09-28,0.11,1.02,2006-09-28,-0.227317,0.616585,0.051673,-0.140160,0.190226,0.829774
37,2006-09-29,0.60,-1.22,2006-09-29,0.262683,-1.623415,0.069002,-0.426443,0.649771,-1.869771
38,2006-10-03,-0.71,2.04,2006-10-03,-1.047317,1.636585,1.096873,-1.714024,-0.578807,2.618807
39,2006-10-04,-1.31,0.47,2006-10-04,-1.647317,0.066585,2.713654,-0.109687,-1.141514,1.611514
40,2006-10-05,1.52,0.18,2006-10-05,1.182683,-0.223415,1.398739,-0.264229,1.512588,-1.332588

In [105]:
bse_average = event_window_df['Sensex'].mean()
company_average = event_window_df['31 infotech'].mean()
bse_std = event_window_df['Sensex'].std()
company_std = event_window_df['31 infotech'].std()
print(bse_average,bse_std,company_average,company_std)

0.33731707317073173 0.9311498923112322 0.40341463414634143 1.987101670468949

In [106]:
event_window_df['bse_diff'] = event_window_df['Sensex'] - bse_average
event_window_df['company_diff'] = event_window_df['31 infotech'] - company_average

In [114]:
event_window_df['diff_squared'] = event_window_df['bse_diff'] ** 2
event_window_df['diff_product'] = event_window_df['bse_diff']*event_window_df['company_diff']
beta = event_window_df['diff_product'].sum()/event_window_df['diff_squared'].sum()
alpha = company_average - (beta*bse_average)
event_window_df['expected_return'] = alpha + (beta * event_window_df['Sensex'])
event_window_df['abnormal_return'] = event_window_df['31 infotech'] - event_window_df['expected_return']
print(beta)
print(alpha)

0.9378451696260152
0.08706344644078556

In [129]:
estimation_period_df

,Unnamed: 0,Sensex,31 infotech,Date,bse_diff,cmp_diff,diff_squared,diff_product,expected_return,abnormal_return
0,2006-03-17,-0.17,-0.53,2006-03-17,-0.1891,-0.4123,0.035759,0.077966,-0.338894,-0.191106
1,2006-03-20,0.75,6.08,2006-03-20,0.7309,6.1977,0.534215,4.529899,0.737247,5.342753
2,2006-03-21,-0.33,-2.37,2006-03-21,-0.3491,-2.2523,0.121871,0.786278,-0.526049,-1.843951
3,2006-03-22,-0.59,-1.72,2006-03-22,-0.6091,-1.6023,0.371003,0.975961,-0.830175,-0.889825
4,2006-03-23,-0.01,2.75,2006-03-23,-0.0291,2.8677,0.000847,-0.083450,-0.151739,2.901739
...,...,...,...,...,...,...,...,...,...,...
95,2006-08-01,0.07,0.11,2006-08-01,0.0509,0.2277,0.002591,0.011590,-0.058161,0.168161
96,2006-08-02,1.16,2.56,2006-08-02,1.1409,2.6777,1.301653,3.054988,1.216831,1.343169
97,2006-08-03,0.43,0.21,2006-08-03,0.4109,0.3277,0.168839,0.134652,0.362937,-0.152937
98,2006-08-04,-0.52,1.11,2006-08-04,-0.5391,1.2277,0.290629,-0.661853,-0.748295,1.858295
99,2006-08-07,-0.50,-0.20,2006-08-07,-0.5191,-0.0823,0.269465,0.042722,-0.724901,0.524901

In [119]:
bse_average_est = estimation_period_df['Sensex'].mean()
bse_std_est = estimation_period_df['Sensex'].std()
company_avg_est = estimation_period_df['31 infotech'].mean()
company_std_est = estimation_period_df['31 infotech'].std()

In [125]:
print(bse_std_est,company_std_est)

2.2700274082802245 3.5860633307460157

In [127]:
estimation_period_df['bse_diff'] = estimation_period_df['Sensex'] - bse_average_est
estimation_period_df['cmp_diff'] = estimation_period_df['31 infotech'] - company_avg_est
estimation_period_df['diff_squared'] = estimation_period_df['bse_diff'] ** 2
estimation_period_df['diff_product'] = estimation_period_df['bse_diff'] * estimation_period_df['cmp_diff']
beta = estimation_period_df['diff_product'].sum()/estimation_period_df['diff_squared'].sum()
alpha = company_avg_est - (beta * bse_average_est)
estimation_period_df['expected_return'] = alpha + (beta * estimation_period_df['Sensex'])
estimation_period_df['abnormal_return'] = estimation_period_df['31 infotech'] - estimation_period_df['expected_return']

In [128]:
print(alpha, beta)

print(estimation_period_df['abnormal_return'].std())

-0.1400416156310473 1.1697180958663407
2.4102435304835774

In [132]:
excel_name = 'Results.xlsx'
xl = pd.ExcelWriter(excel_name,engine='xlsxwriter')
event_window_df.to_excel(xl,sheet_name='Event Window')
estimation_period_df.to_excel(xl,sheet_name='Estimation Period')
xl.save()
xl.close()

C:\Users\New\anaconda3\lib\site-packages\xlsxwriter\workbook.py:338: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")